* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    text-decoration: none;
}

:root {
    /* COLORS */
    --violet: hsl(256, 26%, 20%);
    --light-blue: hsl(216, 30%, 68%);
    
    --dark-violet: hsl(270, 9%, 17%);
    --light-violet: hsl(273, 4%, 51%);
    --light-grey: hsl(0, 0%, 98%);

    /* PADDING */
    --pd-x: 120px;

    /* FONT SIZE */
    --font-size: 16px;
}

body {
    overflow-x: hidden;
}

.container {
    padding: 0 var(--pd-x);
    font-size: var(--font-size);
}

.nav-section, .hero-section, .work {
    display: flex;
    justify-content: space-between;
}

.header-nav-section {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.link {
    color: var(--light-violet);
}

.link:not(:last-child) {
    padding-right: 28px;
}

.button {
    width: 146px;
    height: 40px;
    background-color: transparent;
    padding: 15px 10px;
}

.primary-button {
    border: 2px solid var(--dark-violet);
    color: var(--dark-violet);
}

.secondary-button {
    border: 2px solid #fff;
    color: #fff;
}

p {
    margin: 24px 0;
}

.block-line {
    height: 1px;
    width: 150px;
    margin-bottom: 50px;
}

.block-line-hero {
    background-color: #fff;
}
.block-line-main {
    background-color: var(--light-violet);
}

h1 {
    font-size: 72px;
    max-width: 480px;
    width: 100%;
}

.hero-section {
    background-color: var(--violet);
    color: #fff;
    padding-top: 100px;
    height: 600px;
}

.hero-images, .work, .footer {
    position: relative;
}

.bg-pattern {
    position: absolute;
    z-index: 2;
    width: fit-content;
    height: fit-content;
}

.pattern-l {
    top: 64%;
    left: -112%;
}

.pattern-r {
    top: -32%;
    left: 54%;
}

.about-section {
    padding-top: 325px;
}

h2 {
    font-size: 56px;
}

.about-cards {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

h3 {
    padding: 10px 0;
}

.work {
    height: 250px;
    background-color: var(--violet);
    color: #fff;
    padding: 80px;
}

.work h2 {
    font-size: 36px;
    width: 100%;
    max-width: 340px;
}

.about-pattern {
    top: 0;
    right: 0%;
}